/*---------------------------------------
Publication section -- Root             
-----------------------------------------*/
:root{
	--gra: linear-gradient(45deg, cyan, royalblue);
}

/*---------------------------------------
Publication section -- Header              
-----------------------------------------*/
header{
	width: 100%;
	height: 100px;
	border-bottom: 2px solid #e5e5e5;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header ul li{
	list-style: none;
	padding: 20px;
	margin: 10px;
	float: left;
	font-size: 20px;
	border-radius: 35px;
	/*background: red;*/
}

header ul li a{
	color: inherit;
	text-decoration: none;
}

header ul li.active{
	background: var(--gra);
}

header ul li.active a{
	color: white;
	font-weight: bold;
}

/*---------------------------------------
Publication section -- Filter Condition               
-----------------------------------------*/
.filter-condition{
	padding: 20px;
	height: 100px;
	font-size: 20px;
	font-weight: bold;
}

.filter-condition select{
	width: 120px;
	padding: 0 0 0 10px;
	border: none;
	outline: none;
	font-weight: bold;
	color: purple;
	background: transparent;
	cursor: pointer;
}

/*---------------------------------------
Publication section -- Product Field                
-----------------------------------------*/	
.Publication-Case{
	padding: 40px 20px;
}

.Publication-Case ul{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.Publication-Case ul li{
	list-style: none;
	width: 23.4%;
	height: 400px;
	transition: 0.5s all;
	background: whitesmoke;
	/*overflow: hidden;*/
	border-radius: 20px;
	padding: 10px;
	margin: 200px 10px 0 10px;
	position: relative;
}

/*---------------------------------------
Publication section -- Paper details                
-----------------------------------------*/
.Paper_detail{
	width: 100%;
	height: 100%;
}

.Paper_detail > strong{
	display: inherit;
	margin: 20px;
	font-size: 30px;
	letter-spacing: 2px;
	color: #555;
}

.Paper_detail > span{
	display: inherit;
	padding: 0 20px;
	width: 80%;
}

.Paper_detail small{
	display: inline-block;
	padding: 8px 20px;
	margin: 15px;
	font-weight: bold;
	border-radius: 6px;
	border: 1px solid #999;
	cursor: pointer;
}

.Paper_detail small:hover{
		background: var(--gra);
		color: white;
		border-color: cyan;
}

/*---------------------------------------
Publication section -- item section               
-----------------------------------------*/
li h4{
	position: absolute;
	right: 10px;
	top: 50%;
	font-size: 30px;
	color: #555;
	text-shadow: 1px 1px 2px black;
}